<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/one-page-wonder.css')}}">

    <!--<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
    <!--<link href="../bootstrap/css/one-page-wonder.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <a class="navbar-brand" href="#">Portfolio Analysis</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">Portfolio</a>
                    </li>
                    <li>
                        <a href="#services">Analysis</a>
                    </li>
                    <li>
                        <a href="#contact">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>One Page Wonder</h1>
                <h2>Will Knock Your Socks Off</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <!--<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">-->
            <h2 class="featurette-heading">This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
            </h2>

            <!-- CSS For Bokeh Plot
              –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <style>
                .plotdiv {margin:0px}
            </style>

              <!-- Bokeh Chart Resource
              –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ js_resources|indent(4)|safe }}
                {{ css_resources|indent(4)|safe }}
                {{ plot_script|indent(4)|safe }}



            <form action="{{ url_for('stock') }}" method=(get,post)>
                <label>Symbols</label>
                <input type="text" size="30" name="stockcode"
                       value="GOOG,AAPL,"/>
                <label>Index Ticker</label>
                <input type="text" size="30" name="indexticker" value="^GSPC"/>
                <select name="period">
                    <option value="0.5" >6Mns</option>
                    <option value="1" >1Yr</option>
                    <option value="3" >3Yrs</option>
                </select>

                <input type="range" name="delta" id="delta" value="0" min="-0.5" max="0.5" step = '0.02' data-show-value="true">
                <input class="button-primary" type="submit" value="SHOW CHART"/>
            </form>
            <form>
                  {{ plot_div|indent(4)|safe }}
			</form>



        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <!--<img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">-->
            <h2 class="featurette-heading">The Second Heading
                <span class="text-muted">Is Pretty Cool Too.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <!--<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">-->
            <h2 class="featurette-heading">The Third Heading
                <span class="text-muted">Will Seal the Deal.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="./static/bootstrap//js/jquery.js"></script>
    <!--ink rel="stylesheet" href="{{ url_for('.static',filename='bootstrap/css/bootstrap.css')}}">-->

    <!-- Bootstrap Core JavaScript -->
    <script src="./static/bootstrap/js/bootstrap.js"></script>

</body>

</html>
