<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/bootstrap/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->

    <link href="static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Portfolio Analysis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#details">Details</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>
                <!--<a href="#portfolio" class="page-scroll btn btn-xl">Show Me More</a>-->
            </div>
        </div>
    </header>


    <!-- Portfolio Grid Section -->
    <section id="portfolio" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio Returns</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                                     <!-- CSS For Bokeh Plot
              –––––––––––––––––––––––––––––––––––––––––––––––––– -->

                     <form action="{{ url_for('stock') }}" method=(get,post)>
                        <br>
                        <br>
                        <br>
                         <br>
                         <br>

                         <div class="row">
                         <label>Portfolio Tickers</label><br>
                            <p class="text-muted">(yahoo tickers separated by ',')</p>
                            <input type="text" size="30" name="stockcode" value="GOOG, FB, AAPL"/>
                         </div>
                         <h4 class="subheading"> </h4>
                         <p class="text-muted"> </p>

                         <div class="row">
                             <label>Index Tickers</label><br>
                             <input type="radio" name="indexticker" value="^GSPC" checked >S&P 500<br>
                             <input type="radio" name="indexticker" value="^TNX">Interest Rate (CBOE 10 Yr)<br>
                             <input type="radio" name="indexticker" value="NDX">NASDAQ 100<br>
                             <input type="radio" name="indexticker" value="OIL">Oil<br>
                         </div>
                         <h4 class="subheading"> </h4>
                         <p class="text-muted"> </p>

                         <div class="row">
                         <label>Period</label>
                         <br>
                             <select name="period">
                                 <option value="0.5" >6 months</option>
                                 <option value="1" selected="selected">1 year</option>
                                 <option value="3" >3 years</option>
                             </select>
                         </div>

                         <br>
                         <div class="row">
                             <input class="button-primary" type="submit" value="SHOW CHART"/>
                         </div>

                         <!--<input type="range" name="delta" id="delta" value="0" min="-0.5" max="0.5" step = '0.02' data-show-value="true">-->
                     </form>

                </div>

                <div class="col-lg-5 plot center">

                    <style>
                        .plotdiv {margin:0px}
                    </style>
                      <!-- Bokeh Chart Resource ––––––––––––––– -->
                    {{ js_resources|indent(4)|safe }}
                    {{ css_resources|indent(4)|safe }}
                    {{ plot_script|indent(4)|safe }}
                    {{ plot_div|indent(4)|safe }}
                </div>

            </div>
        </div>

    </section>


    <!-- Details Section -->
    <section id="details" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is behind the plot?</h2>
                    <h3 class="section-subheading text-muted">Details of the analysis</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                                    <img class="img-circle img-responsive" src="../static/bootstrap/img/about/1.jpg" alt=""
                                    height="200" width="200">
                            </div>
                        </div>

                    </a>
                    <div class="portfolio-caption">
                        <h4>Component Correlations</h4>
                        <p class="text-muted">How does each component affect one another?</p>
                    </div>
                </div>
                <div class="col-lg-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                                <img class="img-circle img-responsive" src="../static/bootstrap/img/about/2.jpg" alt=""
                                height="200" width="200">

                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Allocation Optimization</h4>
                        <p class="text-muted">How does diversity improve returns and reduce risks?</p>
                    </div>
                </div>

                <div class="col-lg-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                                <img class="img-circle img-responsive" src="../static/bootstrap/img/about/4.jpg" alt=""
                                height="200" width="200">

                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Points of Interest</h4>
                        <p class="text-muted">One way to determine the points of interest in a portfolio?</p>
                    </div>
                </div>

                <!--<div class="col-md-3 col-sm-4 portfolio-item">-->
                    <!--<a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">-->
                        <!--<div class="portfolio-hover">-->
                            <!--<div class="portfolio-hover-content">-->
                                <!--<i class="fa fa-plus fa-3x"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<img class="img-circle img-responsive" src="../static/bootstrap/img/about/3.jpg" alt="">-->
                    <!--</a>-->
                    <!--<div class="portfolio-caption">-->
                        <!--<h4>Backtest Portfolio Asset Allocation</h4>-->
                        <!--<p class="text-muted">How did the portfolio perform historically?</p>-->
                    <!--</div>-->
                <!--</div>-->


            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 2016 Y.H.D.</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/yanhuadeng/portfolio-analysis"><i class="fa fa-github"></i></a>
                        </li>
                        <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<ul class="list-inline quicklinks">-->
                        <!--<li><a href="#">Privacy Policy</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Terms of Use</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->


    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h4>Portfolio Component Correlations</h4>
                                    {{ corr_script|indent(4)|safe }}
                                    {{ corr_div|indent(4)|safe }}
                            <div class="row">
                                <label>Computed Regression Coefficients</label>
                                <table class="table">
                                     <thead>
                                        <tr>
                                            <th>Tickers</th>
                                            <th>Factor</th>
                                        </tr>
                                     </thead>
                                <tbody>
                                      {% for k, v in coefficients[0].iteritems() %}
                                      <tr>
                                          <td>{{k}}</td>
                                          <td>{{v}}</td>
                                      </tr>
                                      {% endfor %}
                                </tbody>
                              </table>
                            </div>
                    </div>

                        <div align = "left">


                                <div class="WordSection1">

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b style="mso-bidi-font-weight:normal"><o:p>&nbsp;</o:p></b></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b style="mso-bidi-font-weight:normal">Introduction<o:p></o:p></b></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">The portfolio
                                analysis provides an intuitive understanding of how given a set of factors
                                affect the components and the future behavior.<span style="mso-spacerun:yes">&nbsp; </span>Such analysis would be beneficial mostly
                                to the smaller portfolios or individual investors. </p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">The choice
                                of factors is really important! Traditionally, similar analyses use an index as
                                a primary factor, but diverse macro-economic factors such as interest rate, GDP,
                                currencies, unemployment rate might provide better insights. </p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><b style="mso-bidi-font-weight:normal">Theory<o:p></o:p></b></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">A portfolio can
                                be comprised of any number of stocks over 0.5 – 3 <span class="GramE">years</span>
                                period. The factors are variables that reflect overall economy and affect the
                                portfolio</p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">For the
                                correlation analysis, the daily returns of each individual component is
                                linearly regressed against daily returns of each factor, and the regression
                                coefficients are used to predict changes in the portfolio.<span style="mso-spacerun:yes">&nbsp; </span></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">The regression
                                is computed using the daily returns of the time series for either components or
                                factors because the returns time series is stationary (constant variance and
                                mean) while the absolute price is not.<span style="mso-spacerun:yes">&nbsp;
                                </span>Regression over non-stationary series gives unstable results.<span style="mso-spacerun:yes">&nbsp; </span></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">Each
                                component $y_i$ is assumed linearly related to $x_i$s:</p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">
                                    $y_i=\alpha_i+\beta _1*x_{i1}+…+\beta_p*x_{ip}$</p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">$\alpha$ is
                                the y-intercept, which is the part that cannot be explained by the factor, and
                                usually indicates idiosyncratic risk. For this analysis, alpha is computed by
                                adding a constant term to the regression. </p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">$\beta$ is
                                the slope of the line that best fits the data against the factor. It is a
                                historical measure of the stock's volatilities against the factor. For
                                S&amp;P500 is a good measure of the market as a whole. When looking at S&amp;P500,
                                the return generated from a portfolio can be attributed to overall market
                                returns. The value $\beta$ can be interpreted for these conditions:</p>

                                <p class="MsoListParagraphCxSpFirst" style="margin-top:0in;margin-right:0in;
                                margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
                                text-indent:-.25in;mso-list:l2 level2 lfo2"><!--[if !supportLists]--><span style="font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;"><span style="mso-list:Ignore">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
                                </span></span></span><!--[endif]-->$\beta$ = 1, component moves with market</p>

                                <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
                                margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
                                text-indent:-.25in;mso-list:l2 level2 lfo2"><!--[if !supportLists]--><span style="font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;"><span style="mso-list:Ignore">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
                                </span></span></span><!--[endif]-->$\beta$ &gt; 1, component is more volatile than
                                the market (high tech)</p>

                                <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
                                margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
                                text-indent:-.25in;mso-list:l2 level2 lfo2"><!--[if !supportLists]--><span style="font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;"><span style="mso-list:Ignore">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
                                </span></span></span><!--[endif]-->$\beta$ &lt; 1, component less volatile than the
                                market (utility companies)</p>

                                <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
                                margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
                                text-indent:-.25in;mso-list:l2 level2 lfo2"><!--[if !supportLists]--><span style="font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;"><span style="mso-list:Ignore">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
                                </span></span></span><!--[endif]-->$\beta$ &lt; 0, component is inverse to the
                                market (gold)</p>

                                <p class="MsoListParagraphCxSpLast" style="margin-top:0in;margin-right:0in;
                                margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
                                text-indent:-.25in;mso-list:l2 level2 lfo2"><!--[if !supportLists]--><span style="font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;"><span style="mso-list:Ignore">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
                                </span></span></span><!--[endif]-->$\beta$ = 0 component doesn't change with
                                the market (cash)</p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt">There are
                                two caveats in prediction using $\beta$</p>

                                <p class="MsoListParagraphCxSpFirst" style="margin-top:0in;margin-right:0in;
                                margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
                                text-indent:-.25in;mso-list:l2 level2 lfo2"><!--[if !supportLists]--><span style="font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;"><span style="mso-list:Ignore">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
                                </span></span></span><!--[endif]-->$\beta$ is a measurement of systematic risk,
                                which is the risk that the market as a whole. It is based on the effect of
                                market wide risk, not the risk of the company</p>

                                <p class="MsoListParagraphCxSpLast" style="margin-top:0in;margin-right:0in;
                                margin-bottom:0in;margin-left:1.0in;margin-bottom:.0001pt;mso-add-space:auto;
                                text-indent:-.25in;mso-list:l2 level2 lfo2"><!--[if !supportLists]--><span style="font-family:&quot;Courier New&quot;;mso-fareast-font-family:&quot;Courier New&quot;"><span style="mso-list:Ignore">o<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
                                </span></span></span><!--[endif]-->$\beta$ is a historical measure of stock's
                                volatility. This means that past volatility doesn't necessary predict future
                                beta or future volatility. Study of Gene <span class="SpellE">Fama</span> and Ken
                                French on cross-section of expected stock returns that examines the reliability
                                of past $\beta$ indicates that individual stock’s past $\beta$ is not a good
                                predictor of future $\beta$. $\beta$ tends to revert back to 1.</p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt"><o:p>&nbsp;</o:p></p>

                                </div>

                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Go Back</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h4>Portfolio Allocation Optimization</h4>
                                <p class="item-intro text-muted">Efficient Frontier</p>
                                    {{ risk_script|indent(4)|safe }}
                                    {{ risk_div|indent(4)|safe }}
                                <br>
                                <div class="row">
                                    <table class="table">
                                    <label>Selected Returns and Risks</label>
                                        <thead>
                                            <tr>
                                                <th>Parameters</th>
                                                <th>Selected Point</th>
                                            </tr>
                                         </thead>
                                    <tbody>
                                          <tr>
                                              <td> Returns</td>
                                              <td> {{port_opt_params[1]}} %</td>
                                          </tr>
                                          <tr>
                                              <td> Risks</td>
                                              <td> {{port_opt_params[0]}} %</td>
                                          </tr>
                                     </tbody>
                                    </table>


                                    <label>Computed portfolio allocations</label>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tickers</th>
                                                <th>Allocation Percentage</th>
                                            </tr>
                                         </thead>
                                        <tbody>
                                              {% for k, v in port_opt_params[2].iteritems() %}
                                              <tr>
                                                  <td>{{k}}</td>
                                                  <td>{{v}} % </td>
                                              </tr>
                                              {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            <div align="left">
                                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b
                                    style='mso-bidi-font-weight:normal'>Efficient Frontier<o:p></o:p></b></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>Efficient frontier
                                    is a concept from modern portfolio theory introduced by Harry Markowitz. It
                                    shows the ideal optimal portfolio allocation with highest expected return based
                                    on the level of tolerated risks. This analysis shows the benefit of portfolio
                                    diversification, by trading off expected returns with tolerated risk. </p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><o:p>&nbsp;</o:p></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>For
                                    portfolio with no risk-free asset, the objective of EF is to minimize the
                                    difference between the variance of portfolio return and the expected return,
                                    while subject to the constraint that sum w is 1:</p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><o:p>&nbsp;</o:p></p>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>min $w^T\Sigma$$w=q*R^Tw$</p>

                                    <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
                                    margin-bottom:0in;margin-left:.75in;margin-bottom:.0001pt;mso-add-space:auto;
                                    text-indent:-.25in;mso-list:l1 level1 lfo5'>w is a vector of portfolio allocation, and sum(w) = 1
                                    </p>

                                    <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
                                    margin-bottom:0in;margin-left:.75in;margin-bottom:.0001pt;mso-add-space:auto;
                                    text-indent:-.25in;mso-list:l1 level1 lfo5'>$\Sigma$ is the covariance matrix for portfolio
                                    components</p>

                                    <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
                                    margin-bottom:0in;margin-left:.75in;margin-bottom:.0001pt;mso-add-space:auto;
                                    text-indent:-.25in;mso-list:l1 level1 lfo5'>q &gt;= 0 is the risk tolerance level</p>

                                    <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
                                    margin-bottom:0in;margin-left:.75in;margin-bottom:.0001pt;mso-add-space:auto;
                                    text-indent:-.25in;mso-list:l1 level1 lfo5'>R is the expected return vector </p>

                            </div>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h4>Points of Interest in the Portfolio From Principle Component Analysis</h4>

                                 <div class="col-lg-12 plot center">

                                    {{ eig_script|indent(4)|safe }}
                                    {{ eig_div|indent(4)|safe }}
                                </div>

                                 <div class="col-lg-12 plot center">

                                    {{ neg_script|indent(4)|safe }}
                                    {{ neg_div|indent(4)|safe }}

                                 </div>

                                 <div class="col-lg-12 plot center">

                                    {{ PCA_script|indent(4)|safe }}
                                    {{ PCA_div|indent(4)|safe }}

                                 </div>

                            <div align = "left">
                                    <br>

                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b
                                        style='mso-bidi-font-weight:normal'>Points of Interest based on Principal
                                        Components Analysis<o:p></o:p></b></p>

                                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>One way to
                                        determine points of interest in the portfolio's past performance is by doing
                                        principal component analysis, where the analysis can be obtained through
                                        singular value decomposition. Though the physical interpretation of what is
                                        doing on during the points of interest is hard to extract.</p>

                                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><o:p>&nbsp;</o:p></p>

                                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>To obtain
                                        the PCA, a vector X can be transformed into Y by multiplying a matrix P, where
                                        the columns of P are the eigenvectors of $X^TX$, such that the covariance of Y
                                        is <span class=SpellE>diagonalized</span>. </p>

                                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
                                        .5in'>$PX = Y$</p>

                                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
                                        .5in'>$X = U\Sigma$$V^T$</p>

                                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
                                        .5in'>$X^TX = U\Sigma^2V^T$</p>

                                        <br>
                                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'>The 1-PC is
                                        the eigenvector corresponding to the largest eigenvalues, which might have the
                                        most significant contribution to the extract potential relationship between the
                                        portfolio components and a "latent" factor. In this interpretation, it is
                                        possible to look at the ratio of the negative values in the corresponding first
                                        eigenvector. The anxiety detection trigger can be set to such when the ratio of
                                        the negative values in the corresponding eigenvector increases consecutively
                                        over 5 days. These points of interest are plotted in red dots. They can be used
                                        to signal non-financial events' effect on the market. </p>
                            </div>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="../static/bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/bootstrap/js/classie.js"></script>
    <script src="../static/bootstrap/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="../static/bootstrap/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/bootstrap/js/agency.js"></script>

</body>

</html>
