<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/bootstrap/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->

    <link href="static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Portfolio Analysis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Analysis</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>
                <!--<a href="#portfolio" class="page-scroll btn btn-xl">Show Me More</a>-->
            </div>
        </div>
    </header>

    <!--&lt;!&ndash; Services Section &ndash;&gt;-->
    <!--<section id="services">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12 text-center">-->
                    <!--<h2 class="section-heading">Services</h2>-->
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row text-center">-->
                <!--<div class="col-md-4">-->
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                    <!--<h4 class="service-heading">E-Commerce</h4>-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                    <!--<h4 class="service-heading">Responsive Design</h4>-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                    <!--<h4 class="service-heading">Web Security</h4>-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio Returns</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                                     <!-- CSS For Bokeh Plot
              –––––––––––––––––––––––––––––––––––––––––––––––––– -->

                     <form action="{{ url_for('stock') }}" method=(get,post)>
                         <div class="row">
                         <label>Portfolio Tickers</label><br>
                            <p class="text-muted">(yahoo tickers separated by ',')</p>
                            <input type="text" size="30" name="stockcode" value="GOOG, FB"/>
                         </div>
                         <h4 class="subheading"> </h4>
                         <p class="text-muted"> </p>

                         <div class="row">
                             <label>Index Tickers</label><br>
                             <input type="radio" name="indexticker" value="^GSPC" checked >S&P 500<br>
                             <input type="radio" name="indexticker" value="^TNX">CBOE Interest Rate 10 Year<br>
                             <input type="radio" name="indexticker" value="NDX">NASDAQ 100<br>
                             <input type="radio" name="indexticker" value="OIL">Oil<br>
                             <!--<input type="text" size="30" name="indexticker" value="^GSPC"/>-->
                         </div>
                         <h4 class="subheading"> </h4>
                         <p class="text-muted"> </p>

                         <div class="row">
                         <label>Period   </label>

                             <select name="period">
                                 <option value="0.5" >6Mns</option>
                                 <option value="1" >1Yr</option>
                                 <option value="3" >3Yrs</option>
                             </select>
                         </div>
                         <p class="text-muted"> </p>
                         <p class="text-muted"> </p>

                         <div class="row">
                             <input class="button-primary" type="submit" value="SHOW CHART"/>
                         </div>

                         <!--<input type="range" name="delta" id="delta" value="0" min="-0.5" max="0.5" step = '0.02' data-show-value="true">-->
                     </form>


                     <div class="row">
                        <label>Computed Regression Coefficients</label>
                        <table class="table">
                            <script>

                            </script>
                             <thead>
                                <tr>
                                    <th>Tickers</th>
                                    <th>Factor</th>
                                </tr>
                             </thead>
                        <tbody>
                              {% for k, v in coefficients[0].iteritems() %}
                              <tr>
                                  <td>{{k}}</td>
                                  <td>{{v}}</td>
                              </tr>
                              {% endfor %}


                        </tbody>
                      </table>
                     </div>
                </div>

                <div class="col-lg-4 plot center">

                    <style>
                        .plotdiv {margin:0px}
                    </style>
                      <!-- Bokeh Chart Resource
                      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                    {{ js_resources|indent(4)|safe }}
                    {{ css_resources|indent(4)|safe }}
                    {{ plot_script|indent(4)|safe }}

                    <form>
                    </form>
                    {{ plot_div|indent(4)|safe }}
                </div>

            </div>
        </div>

    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is behind the plots?</h2>
                    <h3 class="section-subheading text-muted">Details of the analysis</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/bootstrap/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> <a href="{{ url_for('correlations') }}">Portfolio Components Correlations</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">How each component affects one another?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/bootstrap/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> <a href="{{ url_for('pltmag') }}">Portfolio Optimization</a></h4>
                                    <!--<h4 class="subheading">How diversity improves returns and reduces risks?</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">How diversity improves returns and reduces risks?</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/bootstrap/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Backtest Portfolio Asset Allocation</h4>
                                    <!--<h4 class="subheading">Transition to Full Service</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">How did the portfolio perform historically?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/bootstrap/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Market Timing</h4>
                                    <!--<h4 class="subheading">Phase Two Expansion</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When is a good time to buy or sell?</p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">-->
                            <!--<div class="timeline-image">-->
                                <!--<h4>Be Part-->
                                    <!--<br>Of Our-->
                                    <!--<br>Story!</h4>-->
                            <!--</div>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-github"></i></a>
                        </li>
                        <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<ul class="list-inline quicklinks">-->
                        <!--<li><a href="#">Privacy Policy</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Terms of Use</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="../static/bootstrap/img/portfolio/roundicons-free.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="../static/bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/bootstrap/js/classie.js"></script>
    <script src="../static/bootstrap/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="../static/bootstrap/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/bootstrap/js/agency.js"></script>

</body>

</html>
